<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Zuora Public javascript library -->
<script type="text/javascript" src="https://static.zuora.com/Resources/libs/hosted/1.0.0/zuora-min.js"/></script>
<script>
<!-- optional params in case prepopulation of certain fields is desired-->
var prepopulateFields = {
   creditCardAddress1:"123 Any Street",
   creditCardAddress2:"Suite #999",
   creditCardCountry:"USA",
   creditCardHolderName:"John Doe"
};
  
// Sample params for rendering iframe on the client side
var params = {
   tenantId:12508,
   id:"2c92c0f949f126b80149fa2ebd3b2e00", <!-- pageId-->
   token:"NL8wlgpMRZaCvbuAE8WMgLHYy0sDdlLb",
   signature:"VljWWzMFQlWZW+LHP8XplpovAYZDtCG2TYqhphepeIUOBj2wdU/GUd08m1CW9ytNdOxWIwLgDb6XpyNY60YWiRAA4hTCz7v1nfhO8PmwK/nk07IzgbxxpkZX1zE0mhrUo+LyGodETds+0+ep9xFy2I0u6DDl++J1bc1R+WoIdkswbz6t2LjPomZCpEbzjuXR3FK53hJ2eahZTFW+/yxTS4XcjOJDd0xcrnq9PlZzfkESgYivMlO2CGiE6uSgJhKPuqIUT0lIyEuQn2iIRGT3wqLStbuZXpWo7AV1cP9SEyxhy712djO/2vR8ybr3UFAYOouFXmwLz3Uv5DYWGM5Amcbx9rBqpuvF/QFAVIFP9W8wjsNoiRYp/fdbO8OvmapCwg2+YfAIMdEH0RfGlFbv4IYn5SF/MXd65VzuA2ZRsG7lmJljWs3+VpOkThgfnroH9YJ4erNYHynlAu3J7kZpZx1c0/b2wqswOuqLypopitC6HPdly1jCGAKPvnd6Y7iuip4fudd67F51p/4cgpbqiwo3XVuvOhQkZxiXKKnTeoam2NAGI9XexJxFc4k4VZ0/N6g3/Sxn3at+nmbOh5aibV8A3uXNt/KXVeGxNmxvvG93kd19uglh86W53xTxvGy9Vlq9HBSkudHex2RiYHl474ZlItU+3uu6NVJ9GbatI+Y=",
   style:"overlay",
   key:"MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAkSjxsOwLXfTjMT9T02PkIrJPyyBcDUM1HRPI4o9UgffBqeLHBRwbgihtP7wfQhrZU2VYBmxXNDOGGYAktkOOAU+vFRwKsyw77/9jOHxgeDfGn2ETCdK8RwYfD0PaJDrMyJjFHGvsChCc5QYsd8eRry5FLm+2Esx6GNrpEe3WxTvH7BsWziDKCjLZNDwbBWU0+OOCbhF53H2iXLwdpCBUJcSu73mH1l7ChWD6i0wh3pG48vKAduhfPz6TPVYrMKhBKp4e5IW8xV89moqwBRQwIQTsFdlVfSr3IZ8hHAnhN3HB7i8NmOCceOemh5Glk+lVP3ODAuyPgVxFFyKLWpO0/Uk6hovTw0DGJ2knaXCjW9QiVYxxp4u8GKOQKxTrUiXE8r3f3AnKjlR6U5sMK+D1xIjapklW1YpW/mA1Ij2zEiEg3xPwKowrJQQIzAzcaDRCVY3BadwXLG69kLahfclwTvNKtlIZNzTA9KCDJT74RQ6Ql78/LDZQ5xfcyPu4ofpz/ZAmAeDOWzuY4KrJhQ66QrX26ZvCZC+HmIu4tmNt1RTojZLKKDHdwSLor+ofRWAv3pvP2GCYX3H2k2/TU8JKdBgtEzhasjhcSknK41qg42kAFJVagakDrh8T0HVbWI1L0f3R38/bkvEv7Gk9iJnj7k7f5dnYUCVW7SmjoTx1VA8CAwEAAQ==",
   submitEnabled:"true",
   locale:"fr_FR",
   url:"https://www.zuora.com/apps/PublicHostedPageLite.do",
   paymentGateway: "DefaultGateway" //payment gateway name
};
 
function callback(response) {
   if(response.success) {
      var redirectUrl = "../thanks?refid="+response.refId+"&field_passthrough1="+response.field_passthrough1;
      window.location.replace(redirectUrl);
   } else {
      alert("errorcode="+response.errorCode + ", errorMessage="+response.errorMessage);
   }
}
         
function loadHostedPage() {
   Z.render(
      params,
      prepopulateFields,
      callback
   );
}
</script>
</head>
 
<body onload="loadHostedPage();">
   <div id="zuora_payment" ></div>
</body>
